<!doctype html>
<html lang="zh-CN">

	<head>
		<meta charset="UTF-8">
		
	
		<!-- css -->
		<link rel="stylesheet" href="https://www.hongweipeng.com/usr/themes/GreenGrapes/css/bootstrap.min.css">
	
	</head>

	<body>
		

		<div id="m-header" class="m-header">
			<div id="showLeftPush" class="left m-header-button"></div>
		</div>
		<div id="m-container" class="container">
			<div class="col-md-4">
				<aside class="fixsidebar">
					<div class="panel panel-green hidden-xs">
						<div class="panel-heading"><i class="fa fa-tags fa-fw"></i> 标签云</div>
						<div id="meta-cloud">
							<canvas height="300" id="mycanvas" style="width: 100%">
                <p>标签云</p>
                <ul class="widget-list">
                	<li class="category-level-0 category-parent">
                		<a href="#">随笔</a>
                	</li>
                	<li class="category-level-0 category-parent">
                		<a href="#">JAVA</a>
                	</li>
                </canvas>
						</div>
					</div>
				</aside>

			</div>

		</div>

		<script src="https://www.hongweipeng.com/usr/themes/GreenGrapes/js/jquery2.14.min.js"></script>
		<script src="https://www.hongweipeng.com/usr/themes/GreenGrapes/js/bootstrap.min.js"></script>
		<script src="tagscavana.js"></script>
		<script src="tags.js"></script>

	</body>

</html>